:root {
  --color-bg-default: #fff;
  --color-bg-grey: rgba(196, 196, 196, 0.4);
  --color-border: #a8a8a8;
  --color-text-action: #333638;
  --color-text-default: #393A3A;
  --font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --shadow-0: 0px 1px 1px #FFFFFF;
  --shadow-1: 0px 1px 2px rgba(29, 31, 32, 0.08), 0px 0px 1px rgba(29, 31, 32, 0.24);
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  background: url('/images/background.png') top;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

input {
  font-size: 16px;
}
